/* Encabezado */
header {
    padding-top: 0.5em;
    width: calc(100% - 300px);
    margin: auto;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

h3 {
    color: #e63d00;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    height: 50%;
    color: #252525;
}

nav a:hover {
    color: #ce3700;
}