/* Etiquetas Globales */
html {
    min-height: 100%;
    margin: 0;
    font-family: 'Lucida Sans';
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
    width: 5px;
}

html ::-webkit-scrollbar-thumb {
    background: #e63d00;
    border-radius: 4px;
}

body {
    width: 100%;
    background-color: #f3f3ea;
    color: #000;
}

/* Contenido */

main {
    text-align: center;
}

picture {
    margin: 0px auto;
    margin-top: 10vh;
    margin-bottom: calc(25vh);
    font-family: sans-serif;
    font-size: large;
    font-weight: lighter;
}

img.chica {
    width: 100vw;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 100%;
}

a.rusel {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #ce3700;
}

/* Contenido del carrusel */
#carrusel {
    height: 400px;
    overflow: hidden;
    display: flex;
    gap: 3em;
    max-width: calc(100% - 80px);
    transition: all 0.5s;
    scroll-behavior: smooth;
}

#carrusel img {
    object-fit: contain;
    position: relative;
    border-radius: 6px;
    height: 100%;
    margin: auto;
}

#carrusel .boton {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 400px;
    max-width: calc(100vw);
}

.boton button {
    max-height: 100px;
    max-width: 100px;
    padding: 15px;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    border: none;
}